*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: 'Noto Sans Osmanya', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

nav{
    background-color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 20px 10px;
    position: sticky;
    z-index: 100;
    top: 0;
}
nav .logo{
    display: flex;
    align-items: center;
    flex: 1;
}
nav .logo img{
    width: 100px;
}
nav .logo h1{
    margin-left: 20px;
}
nav a{
    color: black;
    text-decoration: none;
    padding: 0 25px;
    letter-spacing: 0.5px;
    font-size: 20px;
    position: relative;
}
nav .main-nav{
    margin-right: 5%;
}
/* a:after{
    content: "";
    position: absolute;
    background-color: rgb(255, 68, 177);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;

}
a:hover:after{
    width: 100%;
} */
nav a:after{
    content: "";
    position: absolute;
    background-color: #213555;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
nav a:hover:after{
    width: 100%;
}


/* home */
.hero {
    display: flex;
    padding: 12% 8%;
    color: black;
}
.hero .content{
    padding: 1.4rem 7%;
}
.hero .content h1{
    font-size: 4em
}
.hero .content p{
    font-size: 1.3em
}
.hero .content button{
    font-weight: 400;
    font-size: 18px;
    border: 0;
    background-color: #7091F5;
    padding: 15px 25px;
    border-radius: 8px 4px;
    transition: 0.1s all ease;
}
.hero .content button:hover{
    color: white;
    background-color: #5770b9;
    border-radius: 4px 8px;
}
.hero img{
    width: 500px;
}



/* About */
.about .content{
    margin-top: 5%;
    padding: 1.4rem 7%;
    justify-content: center;
}
.about .content h1{
    text-align: center;
    font-size: 3em
}
.about .content .container{
    padding: 1.4rem 13%;
    margin: 2% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.about .content .container img{
    width: 400px;
}
.about .content .container .about-text{
    font-size: 1.2em
}


/* Service */
.service .content{
    margin-top: 5%;
    padding: 1.4rem 7%;
    justify-content: center;
}
.service .content h1{
    text-align: center;
    font-size: 3em
}

.service .content .container{
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20%;
}
.service .content .card{
    background-color: #7091F5;
    border: 1px solid #AED2FF;
    padding: 0 7%;
    border-radius: 12px;
    width: 100%;
    text-align: center;
}
.service .content .card:hover{
    border: 1px solid #0F2C59;
}
.service .content .card .card__details .name{
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}
.service .content .card .card__details p{
    font-size: 14px;
    line-height: 150%;
}


.service .content .card img{
    width: 200px;
}